.navBackground {
    width: 100%;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-between; /* Spread out the navbar contents */
  }
  
  .navBlock {
    display: flex;
    justify-content: space-between; /* Spread out the nav items */
    align-items: center;
    width: 100%;
    height: 6rem;
  }
  
  .navItems {
    display: flex;
    justify-content: space-around;  /* Space out the items evenly */
  }
  
  .navItemsChildren {
    display: flex;
    align-items: center;  /* Align the icon and text vertically */
    padding: 1.2rem;
    height:1.2rem;
    font-size: 3rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .navItemsChildren:hover {
    transform: scale(1.2);
  }
  
  .navText {
    display: none;  /* Hide text by default */
    margin-left: 0.5rem;  /* Space between the icon and text */
    font-size: 1.3rem;  /* Text size */
  }
  
  .navItemsChildren:hover .navText {
    display: inline;  /* Show the text on hover */
  }
  
  
  .navBlockPt2 {
    display: flex;
    justify-content: space-around;  /* Space out the items evenly */
  }
  
  .navItemsPt2 {
    display: flex;
    align-items: center;  /* Align the icon and text vertically */
    padding: 1.2rem;
    font-size: 3rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .navItemsPt2:hover {
    transform: scale(1.2);
  }
  
  .navTextPt2 {
    display: none;  /* Hide text by default */
    margin-left: 0.5rem;  /* Space between the icon and text */
    font-size: 1.3rem;  /* Text size */
  }
  
  .navItemsPt2:hover .navTextPt2 {
    display: inline;  /* Show the text on hover */
  }
  
  
  .searchBar {
    width: 30rem; /* Adjust width as needed */
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
    text-align: center; /* Center text inside the search bar */
  }
  
  .searchBar:focus {
    border-color: #ff00c8; /* Highlight border when focused */
    box-shadow: 0 0 5px rgba(255, 0, 200, 0.6); /* Subtle glow */
  }
  