.search-bar-container {
    display: flex;
    align-items: center;
    height:6rem;
    padding:20px;
  }
  
  .search-bar-wrapper {
    position: relative;
    width: 100%; /* max-w-lg */

  }
  
  .search-input {
    height: 4rem;
    width: 100%;
    padding: 0.5rem 1rem; /* px-4 py-2 */
    color: #4b5563; /* text-gray-700 */
    background-color: rgb(206, 205, 205); /* bg-white */
    border: 1px solid #d1d5db; /* border-gray-300 */
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    font-size: 1.2rem;
    font-weight:bold;
    
  }
  .searchIcon {
    display: flex;
    align-items: center;
  }
  
  .search-input:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px #a78bfa; /* focus:ring-2 focus:ring-purple-500 */
  }
  
  .search-button:hover {
    background-color: #7c3aed; /* hover:bg-purple-600 */
  }
  
  .search-button:focus {
    box-shadow: 0 0 0 2px #a78bfa; /* focus:ring-2 focus:ring-purple-500 */
  }
  