.modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensures it's on top */
}
  
  .modalContent input,
  .modalContent textarea {
    width: 100%;
    margin: 13px 0;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modalContent button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modalContent button:hover {
    background-color: #45a049;
  }
    .buttonZone {
        display: flex;
        justify-content: center;
        gap:4rem;
    }  