
  /* Ensure the row and columns layout properly */
.row {
    display: flex;
  }
  /* Feed styles */
  .feed {
    background-color: #ffffff; /* Optional: background for the feed */
  }
  
.feed-container {
  column-count: 5;
  column-gap: 1.5rem;
  padding: 16px;
  margin-top: 0rem !important;
}


  .feed-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
}

  .feed-item {
  position: relative; /* Required for absolute children like the icon */
  transition: 0.4s;
  z-index: 1;
   break-inside: avoid;
  margin-bottom: 1.5rem;
  width: 100%;

}
  .feed-item:hover{
    transform: scale(1.1);
  }
  .colfix {
    padding:0px!important;
  }

  @media (max-width: 1200px) {
  .feed-container {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .feed-container {
    column-count: 2;
  }
}

@media (max-width: 500px) {
  .feed-container {
    column-count: 1;
  }
}
  
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.4); /* semi-transparent */
  backdrop-filter: blur(8px); /* blur effect */
  z-index: 998;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #ff00c8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.9s linear infinite;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
